body {
    font-family: 'Dancing Script', cursive;
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    line-height: 1.7;
    align-content: space-between;
    align-items: center;
    background-color: rgba(255, 104, 232, 0.78);
}

select {
    border: 1px dashed rgba(255, 104, 232, 0.78);
    outline: none;
}

input{
    border: none;
    background: #00002;
    outline: none;
    border-radius: 15px;
    padding: 4px 11px;
}

button {
    background-color: orchid;
    border-radius: 15px;
    padding: 4px 12px;
    border: none;
    cursor: pointer;
}

nav ul {
    display: flex;
    list-style: none;
}

a {
    background: #503332;
    padding: 1px 7px;
    text-decoration: none;
    border-radius: 15px;
    color: rgba(255, 104, 232, 0.78);
}

.heading {
    font-size: 35px;
}

.name-shower {
    font-size: 30px;
}

label {
    font-size: 19px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.profile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 800px;
    margin-top: 20px;
}

.person-shower {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 25px;
    background-color: #f5b8d7;
    border-radius: 15px;
    min-width: 350px;
    min-height: 500px;
}

.person-shower:nth-child(odd) {
    margin-right: 1px;
}

table {
    text-align: center;
}

.people-list-sorter-container {
    margin-top: 35px;
}

.person-shower > label {
    display: block;
}

.list-of-dance-moves {
    margin: 20px 0;    
}

.delete-dance-move-button {
    padding: 2px 5px;
    margin-left: 10px;
}

#add-dance-move-button {
    margin-left: -45px;
}

.person-shower button {
    width: 90px;
    height: 32px;
    border: 0;
    border-radius: 11px;
    background-color: #d13c20;
    margin: 25px 0 50px 0;
}

.group-container, .group-list-container {
    margin: 50px 0;
    min-width: 440px;
    text-align: center;
}

#group-maker {
    margin-left: -45px;
}
